body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.orange-bg{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    padding: 5px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.link-button a{
    text-decoration: none;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 5%;
}
.experience-items{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding:  1%;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
  
}
.experience-area{

}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(232, 166, 42),tomato);
    border-image-slice: 1;
}
#web-dev-experience0-learning{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(13, 0, 255),rgb(71, 206, 255));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}